

// Setting up colours
clightblue=#03A9F4
cblue=#2196F3   
cred=#F44336
cgreen=#4CAF50
clightgreen=#8BC34A
cyellow=#FFEB3B
camber=#FFC107
corange=#FF9800
cbrown=#795548
cbluegrey=#607D8B
clightgrey=#E0E0E0
cgrey=#9E9E9E
cdarkgrey=cgrey